# Server Configuration
PORT=3000
HOST=localhost
NODE_ENV=development
WORKER_PATH=src/utils/worker.util.ts

# API Configuration
QUOTES_API_RANDOM_URL=https://api.quotable.io/random

# Logging
LOG_LEVEL=info

# refecjt unauthorized TLS requests but only for development purposes otherwise it will ignore SSL validation
NODE_TLS_REJECT_UNAUTHORIZED='0'
